body {
          color:#404040;
          font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
          margin:0;
          padding:0;
          -webkit-font-smoothing:antialiased;
        }

        * {
          -webkit-box-sizing:border-box;
          -moz-box-sizing:border-box;
          box-sizing:border-box;
        }

        .marker_completed {
          border: none;
          cursor: pointer;
          height: 15px;
          width: 15px;
          background-image: url('mountain-icon_completed.svg');
/*          background-color: rgba(68, 68, 68, 0);*/
        }

        .marker {
          border: none;
          cursor: pointer;
          height: 15px;
          width: 15px;
          background-image: url('mountain-icon.svg');
/*          background-color: rgba(0, 0, 0, 0);*/
        }

        .map {
          position:absolute;
          left:15%;
          width:85%;
          top:0;bottom:0;
        }

        h1 {
          font-size:22px;
          margin:0;
          font-weight:400;
          line-height: 20px;
          padding: 20px 2px;
        }

        a {
          color:#404040;
          text-decoration:none;
        }

        a:hover {
          color:#101010;
        }

        .heading {
          position:absolute;
          background:#fff;
          min-width:180px;
          width:15%;
          height:10%;
          line-height:60px;
          padding:0 10px;
          background-color: #ddd0ba;
          color: #fff;
        }

        .attributions {
          position:absolute;
          min-width:180px;
          width:15%;
          height:10%;
          bottom:0;left:0;
          overflow:hidden;
          border-right:1px solid rgba(23,44,23,0);
          background-color: #ddd0ba;
        }

        .attributions p {
          font:400 12px 'Sans-serif';
          /*font-size:12px;*/
          margin:0;
          font-weight:400;
          line-height: 20px;
          padding: 2px 2px;
        }

        .attributions a {
          color:#fff;
        }

        .listings {
          position:absolute;
          min-width:180px;
          width:15%;
          height:80%;
          top:10%;left:0%;
          overflow:auto;
          padding-bottom:10px;
          padding-top:10px;
        }

        .listings .item {
          /*display:block;*/
          min-width:180px;
          width:15%;
          border-bottom:1px solid #eee;
          padding:10px;
          text-decoration:none;
        }

        .listings .item:last-child { border-bottom:none; }
        .listings .item .title {
          display:block;
          color: #444444;
          font-weight:700;
        }

        .listings .item .title small { font-weight:400; }
        .listings .item.active .title,
        .listings .item .title:hover { color:#8cc63f; }

        .listings .item .completedlink {
          display:block;
          color: #ddd0ba;
        }

        .listings .item.active {
          background-color:#f8f8f8;
        }
        ::-webkit-scrollbar {
          width:6px;
          height:1px;
          border-left:0;
          background:rgba(0,0,0,0.1);
        }
        ::-webkit-scrollbar-track {
          background:none;
        }
        ::-webkit-scrollbar-thumb {
          background:#00853e;
          border-radius:0;
        }

        .clearfix { display:block; }
        .clearfix:after {
          content:'.';
          display:block;
          height:0;
          clear:both;
          visibility:hidden;
        }

        /* Marker tweaks */
        .mapboxgl-popup {
          padding-bottom: 10px;
        }

        .mapboxgl-popup-content {
          font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
          padding:0;
          width:190px;
        }
        .mapboxgl-popup-content-wrapper {
          padding:1%;
        }
        .mapboxgl-popup-content h3 {
          background:#ddd0ba;
          color:#fff;
          margin:0;
          display:block;
          padding:10px;
          border-radius:3px 3px 0 0;
          font-weight:700;
          margin-top:-15px;
        }

        .mapboxgl-popup-content h4 {
          margin:0;
          display:block;
          padding: 10px 10px 10px 10px;
          font-weight:400;
        }

        .mapboxgl-popup-content h5 {
          margin:0;
          display:block;
          padding: 0px 10px 10px 10px;
          font-weight:400;
        }

        .mapboxgl-popup-content a {
          color: #ddd0ba;
        }

        .mapboxgl-popup-content div {
          padding:10px;
        }

        .mapboxgl-container .leaflet-marker-icon {
          cursor:pointer;
        }

        .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
          margin-top: 15px;
        }

        .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
          border-bottom-color: #91c949;
        }
}